/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Navbar */
.navbar {
  background-color: #6F8B70;
  color: #FFF7EB;
  padding: 0.5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-logo {
  width: 55px;
  height: 55px;
}

.nav-brand {
  font-family: 'Averia Serif Libre', serif;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  font-family: 'Beiruti', sans-serif;
  font-size: 1.125rem;
}